layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
  tab name="🏠" cwd="$HOME" {
    pane split_direction="vertical" {
      pane name="Control" stacked=true size="62%" {
        pane {
          command "zsh"
          args "-ilc" "opencode"
        }
      }
      pane name="Dashboard" split_direction="horizontal" {
        pane name="Apps" stacked=true size="50%" {
          pane name="AGENTS.md" {
            command "zsh"
            args "-ilc" "vim $HOME/CLAUDE.md"
          }
          pane expanded=true name="Email" {
            command "zsh"
            args "-ilc" "alot"
          }
        }
        pane name="System" {
          command "zsh"
          args "-ilc" "btop --preset 2"
        }
      }
    }
    floating_panes {
      pane name="Shell" {
        command "zsh"
        args "-l"
        width "76%"
        height "82%"
        x "12%"
        y "9%"
      }
    }
  }
  tab name="🧰" cwd="$HOME/Artifacts/Repositories/com.github/WeZZard/skills/" {
    pane split_direction="vertical" {
      pane name="Edit" stacked=true size="62%" {
        pane name="vim" {
          command "zsh"
          args "-ilc" "vim $HOME/Artifacts/Repositories/com.github/WeZZard/skills/"
        }
        pane name="revdiff" {
          command "zsh"
          args "-ilc" "revdiff"
        }
      }
      pane name="Agents" stacked=true {
        pane expanded=true {
          command "zsh"
          args "-ilc" "claude"
        }
        pane {
          command "zsh"
          args "-ilc" "codex"
        }
        pane {
          command "zsh"
          args "-ilc" "opencode"
        }
      }
    }
    floating_panes {
      pane name="Shell" {
        command "zsh"
        args "-l"
        width "76%"
        height "82%"
        x "12%"
        y "9%"
      }
    }
  }
}
