layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
  tab name="🏠" cwd="$HOME" {
    pane split_direction="vertical" {
      pane name="Agents" stacked=true {
        pane command="claude"
      }
      pane name="Explorer" stacked=true {
        pane expanded=true name="Yazi" {
          command "zsh"
          args "-lc" "yazi \"$PWD\""
        }
      }
    }
    floating_panes {
      pane name="Htop" {
        floating false
        command "htop"
        width "76%"
        height "82%"
        x "12%"
        y "9%"
      }
    }
  }
}
