layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
  tab name="🏠" cwd="$HOME" {
    pane split_direction="vertical" {
      pane name="Control" stacked=true {
        pane {
          command "zsh"
          args "-ilc" "opencode"
        }
      }
      pane name="Dashboard" split_direction="horizontal" {
        pane name="Apps" stacked=true {
          pane expanded=true name="Email" {
            command "zsh"
            args "-ilc" "alot"
          }
        }
        pane name="Dashboard" stacked=true {
          pane name="System" {
            command "zsh"
            args "-ilc" "btop --preset 2"
          }
        }
      }
    }
    floating_panes {
      pane name="Shell" {
        floating false
        command "zsh"
        args "-l"
        width "76%"
        height "82%"
        x "12%"
        y "9%"
      }
    }
  }
}
